
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/JSIA-Unknown-Threat/v17/.wsuo
.vs/JSIA-Unknown-Threat/FileContentIndex/f24189b2-305e-4aea-a44a-4cc662275322.vsidx
.vs/JSIA-Unknown-Threat/FileContentIndex/85a6c182-7e64-450a-9469-d2892fd265d0.vsidx
.vs/JSIA-Unknown-Threat/FileContentIndex/70534ac9-42d7-4534-ab21-ac14df4f2436.vsidx
